[#if VIEW_MODE=""#]
<table align="center" class="table table-striped">
 <tr>
  <td><b>Модель</b></td>
  <td><b>IP-адрес</b></td>
  <td><b>Online</b></td>
  <td><b>SN</b></td>
  <td><b>Добавлено</b></td>
  <td><b>Состояние</b></td>
 </tr>
[#begin DEVICES#]

 <tr>
  <td>[#TITLE#]</td>
  <td>[#IP#]</td>

  <td style="vertical-align:middle">
	[#if ONLINE!=""#]
		[#if ONLINE==1#]
			<span class="label label-success" title="<#LANG_XIMI_APP_ONLINE#>">Online</span>
		[#else#]
			<span class="label label-warning" title="<#LANG_XIMI_APP_OFFLINE#>">Offline</span>
		[#endif#]
	[#else#]
		&nbsp;
	[#endif#]
 </td> 

  <td>[#MAC#]</td>
  <td>[#FIND#]</td>
  <td>

<a href="?view_mode=getinfo&id=[#ID#]" title="Обновить текущую информацию">
[#if CURRENTCOLOR!=""#]
<font color="#[#CCOLOR#]" title="#[#CCOLOR#]">
[#CURRENTCOLOR#]
</font>
[#else#]n/a
	[#endif#]
</a>

</td>

  <td>[#BR#]</td>
  <td>

[#if TURN="23"#]on[#else#]off[#endif#]
</td>

&nbsp;&nbsp;
  <td><a href="?view_mode=turnon&id=[#ID#]&tab=info" class="btn btn-default" title="Включить"><i class="glyphicon glyphicon-ok"></i></a> 
  <a href="?view_mode=turnoff&id=[#ID#]&tab=info" class="btn btn-default" title="Выключить"><i class="glyphicon glyphicon-remove"></i></a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<!--                <link rel='stylesheet' href='<#ROOTHTML#>js/spectrum/spectrum.min.css' />
                <script src='<#ROOTHTML#>js/spectrum/spectrum.min.js'></script>
                <link rel='stylesheet' href='?view_mode=changeсolor_[#VALUE#]&id=[#ID#]&tab=info' />
                <input type="text" value="[#VALUE#]" name="[#PARAM_NAME#]_value" class="form-control" id="[#PARAM_NAME#]_value">
                <script type="text/javascript">
                    $("#[#PARAM_NAME#]_value").spectrum({
                        preferredFormat: "hex",
                        showInput: true,
                        chooseText: "OK",
                        cancelText: "<#LANG_CANCEL#>"
                    });
                </script>

-->
                <link rel='stylesheet' href='<#ROOTHTML#>js/spectrum/spectrum.min.css' />
                <script src='<#ROOTHTML#>js/spectrum/spectrum.min.js'></script>
                <link rel='stylesheet' href='?view_mode=changeсolor_[#VALUE#]&id=[#ID#]&tab=info' />
                <input type="text" value="[#CCOLOR#]" name="[#PARAM_NAME#]_value" class="form-control" id="[#PARAM_NAME#]_value">
                <script type="text/javascript">
                    $("#[#PARAM_NAME#]_value").spectrum({
                        preferredFormat: "hex",
                        showInput: true,
                        chooseText: "OK",
                        cancelText: "<#LANG_CANCEL#>"
                    });
                </script>
  <a href="?view_mode=custom50@50@50&id=[#ID#]"class="btn btn-default" title="Custom color"><i class="glyphicon glyphicon"></i></a> 
  <a href="?view_mode=brightness50&id=[#ID#]"class="btn btn-default" title="50% brightness"><i class="glyphicon glyphicon"></i></a> 
  <a href="?view_mode=brightness100&id=[#ID#]"class="btn btn-default" title="100% brightness"><i class="glyphicon glyphicon"></i></a> 


&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="?view_mode=cс_red&id=[#ID#]&tab=info" class="btn btn-danger" color="red" title="Сменить цвет на красный"><i class="glyphicon glyphicon-asterisk"></i></a> 
  <a href="?view_mode=cc_green&id=[#ID#]&tab=info" class="btn btn-success" title="Сменить цвет на зеленый"><i class="glyphicon glyphicon-asterisk"></i></a> 
  <a href="?view_mode=cc_blue&id=[#ID#]&tab=info" class="btn btn-primary" title="Сменить цвет на синий"><i class="glyphicon glyphicon-asterisk"></i></a> 
  <a href="?view_mode=cc_white&id=[#ID#]&tab=info" class="btn btn-default" title="Сменить цвет на белый"><i class="glyphicon glyphicon-asterisk"></i></a> 
  <a href="?view_mode=cc_yellow&id=[#ID#]&tab=info" class="btn btn-warning" title="Сменить цвет на желтый"><i class="glyphicon glyphicon-asterisk"></i></a> 
  <a href="?view_mode=cc_lightblue&id=[#ID#]&tab=info" class="btn btn-info" title="Сменить цвет на голубой"><i class="glyphicon glyphicon-asterisk"></i></a> 




&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <a href="?view_mode=delete_devices&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-trash"></i></a> 
  </td>
 </tr>
 [#end DEVICES#]
</table>
[#else DEVICES#]
<p>No devices discovered yet</p>
[#endif DEVICES#]



[#endif VIEW_MODE#]

