<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
Модуль для управление WIFI RGBW диммером MagicHome. 
<a href="https://ru.aliexpress.com/item/16Million-colors-Wifi-RGB-RGBW-led-controller-smartphone-control-music-and-timer-mode-magic-home-wifi/32755262961.html?spm=a2g0v.search0204.3.1.24114fabz4RucP&ws_ab_test=searchweb0_0,searchweb201602_5_10065_10068_5015215_10059_316_10696_100031_10084_5015115_10083_10103_451_10618_5723515_452_5015815_10307_10301_5015915,searchweb201603_2,ppcSwitch_3_ppcChannel&algo_expid=93f3cb6b-3dbc-477b-8446-c21a21f79278-0&algo_pvid=93f3cb6b-3dbc-477b-8446-c21a21f79278&transAbTest=ae803_1&priceBeautifyAB=0">AliExpress</a>

			
			</br>     </br>

	
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#nach">Особенности использования</a>
		</div>
		<div class="panel-body collapse" id="nach">
		<p>
Перед началом использования, контроллер должен находиться в Вашей домашней сети. Первичная конфигурация настраивается через приложение MagicHome для
телефонов. Телефон необходимо подключить к wifi сети LandNetXXXX и в меню приложения прописать вашу точку доступа. После заведения контроллера в домашнюю сеть, его можно будет обнаружить через кнопку SCAN. <br><br>
Замечено, что при многократном включении/выключении питания контроллера,  происходит сброс настроек на заводские. 
В это время RGB лента моргнет разными цветами и появится открытая точка доступа LANDNet. Текущее соединение WIFI  будет сброшено и требуется произвести его конфигурирование через официальное
<a href="https://play.google.com/store/apps/details?id=com.Zengge.LEDWifiMagicHome"> приложение.</a>
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#onoff">Включение/выключение по физической кнопке.</a>
		</div>
		<div class="panel-body collapse" id="onoff">
		<p>
1) Создаем простое устройство RGB с именем RGB01 или другим.<br>
2) Привязываем в модуле mihome метрику нужной кнопки включения/выключения к нужному объекту RGB01, поле status оставляем пустым. В поле метода выбираем switch.<br>
3) Добавляем контроллер в модуле MagicHome. В свойствах контроллера на вкладке данные привязываем наше устройство к ПУ RGB01 к свойству status.

		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#changecolor">Изменение цвета RGB ленты по нажатию кнопки.</a>
		</div>
		<div class="panel-body collapse" id="changecolor">
		<p>

1) В классе простых устройств создаем метод Changecolor. В методе "changecolor" объекта (RGB01), привязанного к RGB устройству Magichome прописываем следующий код:<br>
<br>
			<code>$this->setProperty('command','changecolor');</code><br>
			<br>
2) В модуле Magichome в режиме просмотра метрик привязываем для метрики "command" связку со объектом RGB01 и свойством command.<br>
3) Теперь при вызове метода объекта cm('RGB01.changecolor'); цвет ленты будет меняться в по кругу.<br>
4) Метод changecolor можно привязать к кнопке MiHome (повесить на двойное нажатие правой кнопки беспроводного выключателя).<br>

Также этот процесс можно вызвать из сценария:<br><br>
<code>
include_once(DIR_MODULES . 'magichome/magichome.class.php');
$mh = new magichome();<br>
$mh->changecolordevice($deviceid);<br>
	</code><br><br>
где $deviceid -номер устройства модуля.
		</div> </div> </div>


		
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p>
<a href="https://github.com/directman66/majordomo-magichome" target="_blank">Ссылка на репозиторий</a><br>
<a href="" target="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5687">Тема на форуме</a>.<br>

<br></br>


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

