<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
Модуль для управление WIFI RGBW диммером MagicHome. 
<a href="https://ru.aliexpress.com/item/16Million-colors-Wifi-RGB-RGBW-led-controller-smartphone-control-music-and-timer-mode-magic-home-wifi/32755262961.html?spm=a2g0v.search0204.3.1.24114fabz4RucP&ws_ab_test=searchweb0_0,searchweb201602_5_10065_10068_5015215_10059_316_10696_100031_10084_5015115_10083_10103_451_10618_5723515_452_5015815_10307_10301_5015915,searchweb201603_2,ppcSwitch_3_ppcChannel&algo_expid=93f3cb6b-3dbc-477b-8446-c21a21f79278-0&algo_pvid=93f3cb6b-3dbc-477b-8446-c21a21f79278&transAbTest=ae803_1&priceBeautifyAB=0">AliExpress</a>

			
			</br>     </br>

	
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#nach">Особенности использования</a>
		</div>
		<div class="panel-body collapse" id="nach">
		<p>
Замечено, что при многократном включении/выключении питания контроллера,  происходит сброс настроек на заводские. 
В это время RGB лента моргнет разными цветами и появится открытая точка доступа LANDNet. Текущее соединение WIFI  будет сброшено и требуется произвести его конфигурирование через официальное
<a href="https://play.google.com/store/apps/details?id=com.Zengge.LEDWifiMagicHome"> приложение.</a>
		</div> </div> </div>

		
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p>
<a href="https://github.com/directman66/majordomo-magichome" target="_blank">Ссылка на репозиторий</a><br>
<a href="" target="_blank">Тема на форуме</a>.<br>

<br></br>


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

